.content
	.row.full.grey.lighten-3
		.container.pad
			.inline
				img(src='img/organization_avatar_256.png' style='height: 128px; width: 128px')
			.inline.indent
				h3 {{organization.name}}
				.inline Ann Arbor, MI, USA
					i.material-icons.left place
				.inline.indent http://danpoindexter.com
					i.material-icons.left link

