.content.container
	
	.row: .col.s12: nav.transparent: .nav-wrapper
		ul.left
			li.hide-on-small-only
				.btn.blue(ng-click='addproject()' style='margin-right: 15px') New
			li
				input(type='search' ng-model='search' placeholder='Search' style='width:250px; margin-right: 15px; margin-top: 12px')


	.row
		.col.s12
			.card-panel.pointer.full.no-animate(ng-repeat='project in filtered = (projects | filter: {name: search})' ui-sref-active-eq='active' ui-sref='root.organization.projects.project({projectId: project.$id})')
				h5 {{project.name}}
		.col.s12
			.center.no-animate(ng-hide='filtered.length' style='padding: 150px 0px')
				p.flow-text No Results!
